<button *ngIf="!showWidget" (click)="showWidget=true">Load widget with component</button>
<button *ngIf="!showWidget" (click)="serviceExample()">Load widget with service</button>
<button (click)="showWidget=false;runScript()">(Load and) Run external script</button>

<div #secondMenu *ngIf="showWidget">
  <ngx-script-loader
    [attributes]="spWidgetAttributes"
    (error)="widgetLoadFailed($event)"
    (load)="widgetLoaded($event)"
    src="https://menus.singleplatform.com/widget"></ngx-script-loader>
</div>

<div #menuContainer>

</div>
